.header-container {
  background-color: rgb(44, 44, 44);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.header-item {
  padding-right: 10px;
  text-decoration: none;
}

.header-button {
  margin-left: auto;
}
